trigger: 
  - main

pool: Agent_01_Dec2025
variables:
- group: INFRACOST_API_KEY

stages:
  - stage: PreCommit
    displayName: Pre-Commit / Static Analysis Stage
    jobs:
      - job: Terraform_install_init
        displayName: Terraform install & init
        steps:
          - task: TerraformInstaller@1
            displayName: Terraform install
            inputs:
              terraformVersion: 'latest'
          - task: TerraformTask@5
            displayName: Terraform init
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/Enviroments/Dev'
              backendServiceArm: 'infra-sc'
              backendAzureRmResourceGroupName: 'dkc-state-rg'
              backendAzureRmStorageAccountName: 'dkcstatestg1234'
              backendAzureRmContainerName: 'statefiles'
              backendAzureRmKey: 'dev.tfstate'

      - job: Terraform_fmt_Validate
        displayName: Terraform fmt & Validate
        dependsOn: Terraform_install_init
        steps:
        - task: TerraformTask@5
          displayName: Terraform init
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/Enviroments/Dev'
            backendServiceArm: 'infra-sc'
            backendAzureRmResourceGroupName: 'dkc-state-rg'
            backendAzureRmStorageAccountName: 'dkcstatestg1234'
            backendAzureRmContainerName: 'statefiles'
            backendAzureRmKey: 'dev.tfstate'
        - task: TerraformTask@5
          displayName: Terraform Fmt
          inputs:
            provider: 'azurerm'
            command: 'custom'
            commandOptions: 'fmt -recursive'
            outputTo: 'console'
            environmentServiceNameAzureRM: 'infra-sc'
        - task: TerraformTask@5
          displayName: Terraform Validate
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: '$(System.DefaultWorkingDirectory)/Enviroments/Dev'
            
  - stage: SecurityScan
    displayName: Security Scanning Stage
    dependsOn: PreCommit
    jobs:
    - job: TFSec
      displayName: TFSec
      steps:
      - task: tfsec@1
        displayName: TFSec
        inputs:
          version: 'v1.26.0'
          dir: '$(System.DefaultWorkingDirectory)'
    - job: TFLint
      displayName: TFLint
      steps:      
      - task: PowerShell@2
        displayName: TFLint
        inputs:
          targetType: 'inline'
          script: |
            tflint --init
            tflint
          workingDirectory: '$(System.DefaultWorkingDirectory)'
    - job: Trivy
      displayName: Trivy
      steps:    
      - task: PowerShell@2
        displayName: Trivy
        inputs:
          targetType: 'inline'
          script: 'trivy fs .'
          workingDirectory: '$(System.DefaultWorkingDirectory)'
    

  - stage: PlanStage
    displayName: Plan & Review Stage
    dependsOn: SecurityScan
    jobs:
      - job: TerraformPlan
        displayName: Terraform Plan
        steps:
        - task: TerraformTask@5
          displayName: Terraform init
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/Enviroments/Dev'
            backendServiceArm: 'infra-sc'
            backendAzureRmResourceGroupName: 'dkc-state-rg'
            backendAzureRmStorageAccountName: 'dkcstatestg1234'
            backendAzureRmContainerName: 'statefiles'
            backendAzureRmKey: 'dev.tfstate'
        - task: TerraformTask@5
          displayName: Terraform Plan
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)/Enviroments/Dev'
            environmentServiceNameAzureRM: 'infra-sc'
    
  - stage: InfraCostStage
    displayName: Infra Cost & Impact Assessment Stage
    dependsOn: PlanStage
    jobs:
      - job: InfraCost
        displayName: Infra Cost Stage
        steps:
        # # Install Infracost
        # - task: PowerShell@2
        #   displayName: Install Infracost (Windows)
        #   inputs:
        #     targetType: 'inline'
        #     script: |
        #       $ProgressPreference = 'SilentlyContinue'
        #       Invoke-WebRequest `
        #         -Uri "https://infracost.io/downloads/latest/infracost-windows-amd64.zip" `
        #         -OutFile "infracost.zip"

        #       Expand-Archive infracost.zip -DestinationPath infracost
        #       $env:PATH += ";$(pwd)\infracost"
        #       infracost --version
        - task: TerraformTask@5
          displayName: Terraform init
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/Enviroments/Dev'
            backendServiceArm: 'infra-sc'
            backendAzureRmResourceGroupName: 'dkc-state-rg'
            backendAzureRmStorageAccountName: 'dkcstatestg1234'
            backendAzureRmContainerName: 'statefiles'
            backendAzureRmKey: 'dev.tfstate'
        - task: PowerShell@2
          displayName: Infra Cost
          inputs:
            targetType: 'inline'
            script: 'infracost breakdown --path=. --format table'
            workingDirectory: '$(System.DefaultWorkingDirectory)/Enviroments/Dev'
          env:
            INFRACOST_API_KEY: $(INFRACOST_API_KEY)  

  - stage: ApprovalStage
    displayName: Approval & Governance Stage
    dependsOn: InfraCostStage
    pool: server
    jobs:
      - job: MannualApproval
        displayName: Mannual Approval
        steps:
        - task: ManualValidation@1
          displayName: Manual Validation
          inputs:
            notifyUsers: 'dkc.hcl@gmail.com'
            approvers: 'dkc.hcl@gmail.com'

  - stage: ApplyStage 
    displayName: Deploy / Apply Stage
    dependsOn: ApprovalStage
    jobs:
      - job: TerraformApply
        displayName: Terraform Apply
        steps:
        - task: TerraformTask@5
          displayName: Terraform init
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/Enviroments/Dev'
            backendServiceArm: 'infra-sc'
            backendAzureRmResourceGroupName: 'dkc-state-rg'
            backendAzureRmStorageAccountName: 'dkcstatestg1234'
            backendAzureRmContainerName: 'statefiles'
            backendAzureRmKey: 'dev.tfstate'
        - task: TerraformTask@5
          displayName: Terraform Apply
          inputs:
            provider: 'azurerm'
            command: 'apply'
            workingDirectory: '$(System.DefaultWorkingDirectory)/Enviroments/Dev'
            environmentServiceNameAzureRM: 'infra-sc'






    